{% load blog_tags %} {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <style>
    .h1 {
      font-size: 24px;
      color: crimson;
      display: inline-block;
      margin: 0 auto;
    }
  </style>
  <body>
        {% posts as totalposts %}
    {% for post in totalposts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|snip }}</p>
    {% endfor %}
    {% popularpost %}
  </body>
</html>
